.firstclass {
    width: 20px;
    height: 20px;
    border-radius: 7px 0 0 7px;
    background-color: gray;
    padding: 0px 5px;
    border: solid 1px #aaa;
    margin: 5px;
}

#next{
    display: none;
}

.ECONOMY {
    width: 30px;
    height: 30px;
    border-radius: 7px 0 0 7px;
    padding: 0px 5px;
    border: solid 1px #aaa;
    margin: 5px;
}

.BOOKED {
    width: 30px;
    height: 30px;
    border-radius: 7px 0 0 7px;
    background-color: red;
    padding: 0px 5px;
    border: solid 1px #aaa;
    margin: 5px;
}

.noti{
    display: flex;
}

.plane {
    width: 900px;
    height: auto;
    background: #ebf0fa;
    border: solid 1px #aaa;
    border-radius: 80px 0 0 80px;
    z-index: 1;
    font-size: 0.85em;
    margin-bottom: 10px;
}

.plane .head, .plane .cabin {
    float: left;
    margin-left: 55px;
}

.seatTable td {
    height: 2em;
    padding: 2px;
}

.seatTable label {
    margin: 5px;
    width: 2em;
    height: 1.8em;
    border: solid 1px #666;
    border-radius: 7px 0 0 7px;
    text-align: center;
    color: #000;
    cursor: pointer;
}

.seatTable input[type="checkbox"] {
    opacity: 0;
}

.seatTable input[type="checkbox"]:checked + label {
    background: #bada55;
    animation-name: rubberBand;
    animation-duration: 300ms;
    animation-fill-mode: both;
}

.title {
    text-align: center;
    font-size: 2em;
}



.seatTitle {
    font-size: 0.8em;
    font-weight: bold;
    padding-bottom: 1em;
}

@keyframes rubberBand {
    0% {
        transform: scale3d(1, 1, 1);
    }
    30% {
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}

.rubberBand {
    animation-name: rubberBand;
}


